<nz-list nzGrid style="margin: 10vh 10vw" *ngIf="(user$ | async)?.history">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12" *ngFor="let item of data.reverse()">
      <nz-list-item>
        <nz-card [nzTitle]="item.language"
          ><div>
            {{ item.text }}
            <nz-divider></nz-divider>
            {{ item.updated_at | date : "medium" }}
          </div></nz-card
        >
      </nz-list-item>
    </div>
  </div>
</nz-list>
<nz-empty
  style="margin: 10vh 10vw"
  *ngIf="!data || data.length === 0"
></nz-empty>
